.container {
  line-height: 16px;
  font-size: 12px;
}

.username:hover,
.timeDiff:hover {
  text-decoration: underline;
}

.stickied {
  color: #75d377;
  cursor: default;
  padding: 0 4px;
  height: 12px;
  width: 12px;
  font-size: 12px;
  vertical-align: text-top;
}

/* Tooltip container */
.tooltip {
  position: relative;
}

.tooltip::after {
  background-color: #000000;
  border-radius: 4px;
  color: white;
  display: none;
  padding: 3px 6px;
  position: absolute;
  text-align: center;
  z-index: 999;
  font-size: 12px;
  font-weight: 500;
  width: max-content;
}

.tooltip::before {
  background-color: #000000;
  content: " ";
  display: none;
  position: absolute;
  width: 7px;
  height: 7px;
  z-index: 999;
}

.tooltip:hover::after {
  display: block;
}

.tooltip:hover::before {
  display: block;
}

.tooltip::after {
  content: attr(data-date) " ";
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 2px));
}

.tooltip::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%) rotate(45deg);
}
