.background {
  width: 40px;
  &.compact {
    width: 90px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .compact {
    flex-direction: row;
    .score {
      line-height: 26px;
    }
  }
}

.score {
  height: 16px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  word-break: normal;
  text-align: center;
  vertical-align: middle;
  color: var(--newRedditTheme-titleText);
}

.upvoteBtn {
  height: 24px;
  width: 24px;
  padding: 0;
  &:focus {
    background-color: var(--newCommunityTheme-navIconFaded10);
  }
  &:hover {
    color: var(--newCommunityTheme-voteText-upvoteShaded80);
    background-color: var(--newRedditTheme-navIconFaded10);
  }
}
.downvoteBtn {
  height: 24px;
  width: 24px;
  padding: 0;
  &:focus {
    background-color: var(--newCommunityTheme-navIconFaded10);
  }
  &:hover {
    color: var(--newCommunityTheme-voteText-downvoteShaded80);
    background-color: var(--newRedditTheme-navIconFaded10);
  }
}

.upvote {
  color: var(--newCommunityTheme-voteText-upvote);
}

.downvote {
  color: var(--newCommunityTheme-voteText-downvote);
}
