.background {
  background-color: var(--canvas);
  width: 40px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--newCommunityTheme-postTransparent20);
  }
  .compact {
    width: 90px;
    flex-direction: row;
    .score {
      line-height: 26px;
    }
  }
}

.score {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  word-break: normal;
  text-align: center;
  vertical-align: middle;
  color: var(--newRedditTheme-titleText);
}

.voteBtn {
  height: 24px;
  width: 24px;
}

.upvote {
  color: var(--newCommunityTheme-voteText-upvote);
}

.downvote {
  color: var(--newCommunityTheme-voteText-downvote);
}
