.icon {
  cursor: pointer;
  fill: var(--newCommunityTheme-buttonAlpha20);
  height: 20px;
  width: 20px;
  &.active {
    fill: var(--newCommunityTheme-button);
  }
}
.icon + .icon {
  margin-left: 4px;
}

.label {
  color: var(--newCommunityTheme-metaText);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  margin-right: 12px;
  margin-top: 1px;
  text-transform: uppercase;
}
