$size: 16px;

.icon {
  font-style: normal;
  vertical-align: middle;
  font-weight: 400;
  height: $size;
  width: $size;
  font-size: $size;
  line-height: $size;
}

.iconPadding {
  margin-right: 4px;
}

.button {
  transition: all 0s;
  color: var(--newCommunityTheme-actionIcon);
  &:hover,
  &:active,
  &:focus {
    background-color: var(--newRedditTheme-navIconFaded10);
    color: var(--newCommunityTheme-actionIcon);
  }
}

.button + .button {
  margin-left: 4px;
}

.text {
  display: inline-block;
  line-height: 1;
  text-transform: capitalize;
  vertical-align: middle;
  color: var(--newCommunityTheme-postIcon);
}
