.SubredditVarsDark {
  --background: #1a1a1b;
  --canvas: #030303;
  --newCommunityTheme-actionIcon: #818384;
  --newCommunityTheme-actionIconAlpha50: rgba(129, 131, 132, 0.5);
  --newCommunityTheme-actionIconShaded80: #676869;
  --newCommunityTheme-active: #0079d3;
  --newCommunityTheme-activeAlpha10: rgba(0, 121, 211, 0.1);
  --newCommunityTheme-activeAlpha50: rgba(0, 121, 211, 0.1);
  --newCommunityTheme-activeLight60: #33a8ff;
  --newCommunityTheme-activeTinted05: #f2f8fc;
  --newCommunityTheme-banner-backgroundColor: #2d97e5;
  --newCommunityTheme-banner-backgroundImage: initial;
  --newCommunityTheme-banner-backgroundImagePosition: cover;
  --newCommunityTheme-banner-communityNameFormat: slashtag;
  --newCommunityTheme-banner-height: 64;
  --newCommunityTheme-banner-iconColor: #0079d3;
  --newCommunityTheme-banner-iconDimensions-borderRadius: 24;
  --newCommunityTheme-banner-iconDimensions-customSize: 32;
  --newCommunityTheme-banner-iconDimensions-padding: 6;
  --newCommunityTheme-banner-iconDimensions-size: 24;
  --newCommunityTheme-banner-iconImage: initial;
  --newCommunityTheme-banner-lineHeight: 38;
  --newCommunityTheme-banner-positionedImage: initial;
  --newCommunityTheme-banner-positionedImageAlignment: left;
  --newCommunityTheme-banner-positionedImageHeight: 48;
  --newCommunityTheme-banner-secondaryBannerPositionedImage: initial;
  --newCommunityTheme-body: #1a1a1b;
  --newCommunityTheme-bodyAlpha50: rgba(26, 26, 27, 0.5);
  --newCommunityTheme-bodyAlpha80: rgba(26, 26, 27, 0.8);
  --newCommunityTheme-bodyShaded80: #141415;
  --newCommunityTheme-bodyText: #d7dadc;
  --newCommunityTheme-bodyTextAlpha03: rgba(215, 218, 220, 0.03);
  --newCommunityTheme-bodyTextAlpha20: rgba(215, 218, 220, 0.2);
  --newCommunityTheme-bodyTextShaded20: #2b2b2c;
  --newCommunityTheme-bodyTextTinted20: #f7f7f8;
  --newCommunityTheme-bodyTinted50: #8c8c8d;
  --newCommunityTheme-bodyTinted80: #474748;
  --newCommunityTheme-button: #d7dadc;
  --newCommunityTheme-buttonAlpha05: rgba(215, 218, 220, 0.05);
  --newCommunityTheme-buttonAlpha10: rgba(215, 218, 220, 0.1);
  --newCommunityTheme-buttonAlpha20: rgba(215, 218, 220, 0.2);
  --newCommunityTheme-buttonAlpha40: rgba(215, 218, 220, 0.4);
  --newCommunityTheme-buttonAlpha50: rgba(215, 218, 220, 0.5);
  --newCommunityTheme-buttonAlpha80: rgba(215, 218, 220, 0.8);
  --newCommunityTheme-buttonShaded80: #acaeb0;
  --newCommunityTheme-buttonTinted20: #f7f7f8;
  --newCommunityTheme-buttonTinted50: #ebeced;
  --newCommunityTheme-buttonTinted80: #dfe1e3;
  --newCommunityTheme-canvas: #030303;
  --newCommunityTheme-errorText: #ff0000;
  --newCommunityTheme-field: #272729;
  --newCommunityTheme-flair: #343536;
  --newCommunityTheme-highlight: #17232d;
  --newCommunityTheme-inactive: #343536;
  --newCommunityTheme-lightText: #ffffff;
  --newCommunityTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
  --newCommunityTheme-line: #343536;
  --newCommunityTheme-linkText: #4fbcff;
  --newCommunityTheme-linkTextAlpha80: rgba(79, 188, 255, 0.5);
  --newCommunityTheme-linkTextShaded80: #3f96cc;
  --newCommunityTheme-linkTextTinted80: #72c9ff;
  --newCommunityTheme-linkTextWithBody: #4193c6;
  --newCommunityTheme-menu: #030303;
  --newCommunityTheme-menuActiveText: #d7dadc;
  --newCommunityTheme-menuInactiveText: #d7dadc;
  --newCommunityTheme-metaText: #818384;
  --newCommunityTheme-metaTextAlpha50: rgba(129, 131, 132, 0.5);
  --newCommunityTheme-metaTextShaded80: #676869;
  --newCommunityTheme-monospaceColor: #5291f8;
  --newCommunityTheme-navBar-activeLink: #e9f5fd;
  --newCommunityTheme-navBar-activeSubmenuCaret: #d7dadc;
  --newCommunityTheme-navBar-activeSubmenuLink: #d7dadc;
  --newCommunityTheme-navBar-backgroundColor: #030303;
  --newCommunityTheme-navBar-backgroundImage: initial;
  --newCommunityTheme-navBar-hoverLink: #d7dadc;
  --newCommunityTheme-navBar-inactiveLink: #d7dadc;
  --newCommunityTheme-navBar-inactiveSubmenuCaret: #d7dadc;
  --newCommunityTheme-navBar-inactiveSubmenuLink: #d7dadc;
  --newCommunityTheme-navBar-submenuBackgroundColor: #1a1a1b;
  --newCommunityTheme-navIcon: #d7dadc;
  --newCommunityTheme-navIconFaded10: rgba(215, 218, 220, 0.1);
  --newCommunityTheme-pageHeader: #818384;
  --newCommunityTheme-placeholder: #3a3a3c;
  --newCommunityTheme-post: #1a1a1b;
  --newCommunityTheme-postFlairText: #ffffff;
  --newCommunityTheme-postIcon: #818384;
  --newCommunityTheme-postLine: #343536;
  --newCommunityTheme-postTinted20: #d1d1d1;
  --newCommunityTheme-postTransparent20: rgba(26, 26, 27, 0.8);
  --newCommunityTheme-report: #1c1402;
  --newCommunityTheme-titleText: #d7dadc;
  --newCommunityTheme-voteIcons-downvoteActive: initial;
  --newCommunityTheme-voteIcons-downvoteInactive: initial;
  --newCommunityTheme-voteIcons-upvoteActive: initial;
  --newCommunityTheme-voteIcons-upvoteInactive: initial;
  --newCommunityTheme-voteText-base: #818384;
  --newCommunityTheme-voteText-downvote: #7193ff;
  --newCommunityTheme-voteText-downvoteShaded80: #5a75cc;
  --newCommunityTheme-voteText-downvoteTinted80: #8da8ff;
  --newCommunityTheme-voteText-upvote: #ff4500;
  --newCommunityTheme-voteText-upvoteShaded80: #cc3700;
  --newCommunityTheme-voteText-upvoteTinted80: #ff6a32;
  --newCommunityTheme-widgetColors-lineColor: #343536;
  --newCommunityTheme-widgetColors-sidebarWidgetBackgroundColor: #1a1a1b;
  --newCommunityTheme-widgetColors-sidebarWidgetHeaderColor: #1a1a1b;
  --newCommunityTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(26, 26, 27, 0.6);
  --newCommunityTheme-widgetColors-sidebarWidgetTextColor: #d7dadc;
  --newCommunityTheme-widgetColors-sidebarWidgetTextColorShaded80: #acaeb0;
  --newCommunityTheme-widgetColors-sidebarWidgetTitleColor: #818384;
  --newRedditTheme-actionIcon: #818384;
  --newRedditTheme-actionIconAlpha50: rgba(129, 131, 132, 0.5);
  --newRedditTheme-actionIconShaded80: #676869;
  --newRedditTheme-active: #0079d3;
  --newRedditTheme-activeAlpha10: rgba(0, 121, 211, 0.1);
  --newRedditTheme-activeAlpha50: rgba(0, 121, 211, 0.5);
  --newRedditTheme-activeLight60: #33a8ff;
  --newRedditTheme-activeTinted05: #f2f8fc;
  --newRedditTheme-banner-backgroundColor: #24a0ed;
  --newRedditTheme-banner-backgroundImage: initial;
  --newRedditTheme-banner-backgroundImagePosition: cover;
  --newRedditTheme-banner-communityNameFormat: slashtag;
  --newRedditTheme-banner-height: 64;
  --newRedditTheme-banner-iconColor: #24a0ed;
  --newRedditTheme-banner-iconDimensions-borderRadius: 24;
  --newRedditTheme-banner-iconDimensions-customSize: 32;
  --newRedditTheme-banner-iconDimensions-padding: 6;
  --newRedditTheme-banner-iconDimensions-size: 24;
  --newRedditTheme-banner-iconImage: initial;
  --newRedditTheme-banner-lineHeight: 38;
  --newRedditTheme-banner-positionedImage: initial;
  --newRedditTheme-banner-positionedImageAlignment: cover;
  --newRedditTheme-banner-positionedImageHeight: 48;
  --newRedditTheme-banner-secondaryBannerPositionedImage: initial;
  --newRedditTheme-body: #1a1a1b;
  --newRedditTheme-bodyAlpha50: rgba(26, 26, 27, 0.5);
  --newRedditTheme-bodyAlpha80: rgba(26, 26, 27, 0.8);
  --newRedditTheme-bodyShaded80: #141415;
  --newRedditTheme-bodyText: #d7dadc;
  --newRedditTheme-bodyTextAlpha03: rgba(215, 218, 220, 0.03);
  --newRedditTheme-bodyTextAlpha20: rgba(215, 218, 220, 0.2);
  --newRedditTheme-bodyTextShaded20: #2b2b2c;
  --newRedditTheme-bodyTextTinted20: #f7f7f8;
  --newRedditTheme-bodyTinted50: #8c8c8d;
  --newRedditTheme-bodyTinted80: #474748;
  --newRedditTheme-button: #d7dadc;
  --newRedditTheme-buttonAlpha05: rgba(215, 218, 220, 0.05);
  --newRedditTheme-buttonAlpha10: rgba(215, 218, 220, 0.1);
  --newRedditTheme-buttonAlpha20: rgba(215, 218, 220, 0.2);
  --newRedditTheme-buttonAlpha40: rgba(215, 218, 220, 0.4);
  --newRedditTheme-buttonAlpha50: rgba(215, 218, 220, 0.5);
  --newRedditTheme-buttonAlpha80: rgba(215, 218, 220, 0.8);
  --newRedditTheme-buttonShaded80: #acaeb0;
  --newRedditTheme-buttonTinted20: #f7f7f8;
  --newRedditTheme-buttonTinted50: #ebeced;
  --newRedditTheme-buttonTinted80: #dfe1e3;
  --newRedditTheme-canvas: #030303;
  --newRedditTheme-errorText: #ff0000;
  --newRedditTheme-field: #272729;
  --newRedditTheme-flair: #343536;
  --newRedditTheme-highlight: #17232d;
  --newRedditTheme-inactive: #343536;
  --newRedditTheme-lightText: #ffffff;
  --newRedditTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
  --newRedditTheme-line: #343536;
  --newRedditTheme-linkText: #4fbcff;
  --newRedditTheme-linkTextAlpha80: rgba(79, 188, 255, 0.5);
  --newRedditTheme-linkTextShaded80: #3f96cc;
  --newRedditTheme-linkTextTinted80: #72c9ff;
  --newRedditTheme-linkTextWithBody: #4193c6;
  --newRedditTheme-menu: #030303;
  --newRedditTheme-menuActiveText: #d7dadc;
  --newRedditTheme-menuInactiveText: #d7dadc;
  --newRedditTheme-metaText: #818384;
  --newRedditTheme-metaTextAlpha50: rgba(129, 131, 132, 0.5);
  --newRedditTheme-metaTextShaded80: #676869;
  --newRedditTheme-monospaceColor: #5291f8;
  --newRedditTheme-navBar-activeLink: #e9f5fd;
  --newRedditTheme-navBar-activeSubmenuCaret: #d7dadc;
  --newRedditTheme-navBar-activeSubmenuLink: #d7dadc;
  --newRedditTheme-navBar-backgroundColor: #030303;
  --newRedditTheme-navBar-backgroundImage: initial;
  --newRedditTheme-navBar-hoverLink: #d7dadc;
  --newRedditTheme-navBar-inactiveLink: #d7dadc;
  --newRedditTheme-navBar-inactiveSubmenuCaret: #d7dadc;
  --newRedditTheme-navBar-inactiveSubmenuLink: #d7dadc;
  --newRedditTheme-navBar-submenuBackgroundColor: #1a1a1b;
  --newRedditTheme-navIcon: #d7dadc;
  --newRedditTheme-navIconFaded10: rgba(215, 218, 220, 0.1);
  --newRedditTheme-pageHeader: #818384;
  --newRedditTheme-placeholder: #3a3a3c;
  --newRedditTheme-post: #1a1a1b;
  --newRedditTheme-postFlairText: #ffffff;
  --newRedditTheme-postIcon: #818384;
  --newRedditTheme-postLine: #343536;
  --newRedditTheme-postTinted20: #d1d1d1;
  --newRedditTheme-postTransparent20: rgba(26, 26, 27, 0.8);
  --newRedditTheme-report: #1c1402;
  --newRedditTheme-titleText: #d7dadc;
  --newRedditTheme-voteIcons-downvoteActive: initial;
  --newRedditTheme-voteIcons-downvoteInactive: initial;
  --newRedditTheme-voteIcons-upvoteActive: initial;
  --newRedditTheme-voteIcons-upvoteInactive: initial;
  --newRedditTheme-voteText-base: #818384;
  --newRedditTheme-voteText-downvote: #7193ff;
  --newRedditTheme-voteText-downvoteShaded80: #5a75cc;
  --newRedditTheme-voteText-downvoteTinted80: #8da8ff;
  --newRedditTheme-voteText-upvote: #ff4500;
  --newRedditTheme-voteText-upvoteShaded80: #cc3700;
  --newRedditTheme-voteText-upvoteTinted80: #ff6a32;
  --newRedditTheme-widgetColors-lineColor: #343536;
  --newRedditTheme-widgetColors-sidebarWidgetBackgroundColor: #1a1a1b;
  --newRedditTheme-widgetColors-sidebarWidgetHeaderColor: #1a1a1b;
  --newRedditTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(26, 26, 27, 0.6);
  --newRedditTheme-widgetColors-sidebarWidgetTextColor: #d7dadc;
  --newRedditTheme-widgetColors-sidebarWidgetTextColorShaded80: #acaeb0;
  --newRedditTheme-widgetColors-sidebarWidgetTitleColor: #818384;
  --subredditContext-isCommentsPage: initial;
  --subredditContext-isOverlay: initial;
}
