.SubredditVarsLight {
  --background: #ffffff;
  --canvas: #dae0e6;
  --newCommunityTheme-actionIcon: #878a8c;
  --newCommunityTheme-actionIconAlpha50: rgba(135, 138, 140, 0.5);
  --newCommunityTheme-actionIconShaded80: #6c6e70;
  --newCommunityTheme-active: #0079d3;
  --newCommunityTheme-activeAlpha10: rgba(0, 121, 211, 0.1);
  --newCommunityTheme-activeAlpha50: rgba(0, 121, 211, 0.5);
  --newCommunityTheme-activeLight60: #33a8ff;
  --newCommunityTheme-activeTinted05: #f2f8fc;
  --newCommunityTheme-backgroundImage: initial;
  --newCommunityTheme-backgroundImagePosition: cover;
  --newCommunityTheme-banner-backgroundColor: #33a8ff;
  --newCommunityTheme-banner-backgroundImage: initial;
  --newCommunityTheme-banner-backgroundImagePosition: cover;
  --newCommunityTheme-banner-communityNameFormat: slashtag;
  --newCommunityTheme-banner-height: 64;
  --newCommunityTheme-banner-iconColor: #0079d3;
  --newCommunityTheme-banner-iconDimensions-borderRadius: 24;
  --newCommunityTheme-banner-iconDimensions-customSize: 32;
  --newCommunityTheme-banner-iconDimensions-padding: 6;
  --newCommunityTheme-banner-iconDimensions-size: 24;
  --newCommunityTheme-banner-iconImage: initial;
  --newCommunityTheme-banner-lineHeight: 38;
  --newCommunityTheme-banner-positionedImage: initial;
  --newCommunityTheme-banner-positionedImageAlignment: left;
  --newCommunityTheme-banner-positionedImageHeight: 48;
  --newCommunityTheme-banner-secondaryBannerPositionedImage: initial;
  --newCommunityTheme-body: #ffffff;
  --newCommunityTheme-bodyAlpha50: rgba(255, 255, 255, 0.5);
  --newCommunityTheme-bodyAlpha80: rgba(255, 255, 255, 0.8);
  --newCommunityTheme-bodyShaded80: #ccc;
  --newCommunityTheme-bodyText: #1c1c1c;
  --newCommunityTheme-bodyTextAlpha03: rgba(28, 28, 28, 0.03);
  --newCommunityTheme-bodyTextAlpha20: rgba(28, 28, 28, 0.2);
  --newCommunityTheme-bodyTextShaded20: #050505;
  --newCommunityTheme-bodyTextTinted20: #d1d1d1;
  --newCommunityTheme-bodyTinted50: #fff;
  --newCommunityTheme-bodyTinted80: #fff;
  --newCommunityTheme-button: #0079d3;
  --newCommunityTheme-buttonAlpha05: rgba(0, 121, 211, 0.05);
  --newCommunityTheme-buttonAlpha10: rgba(0, 121, 211, 0.1);
  --newCommunityTheme-buttonAlpha20: rgba(0, 121, 211, 0.2);
  --newCommunityTheme-buttonAlpha40: rgba(0, 121, 211, 0.4);
  --newCommunityTheme-buttonAlpha50: rgba(0, 121, 211, 0.5);
  --newCommunityTheme-buttonAlpha80: rgba(0, 121, 211, 0.8);
  --newCommunityTheme-buttonShaded80: #0060a8;
  --newCommunityTheme-buttonTinted20: #cce4f6;
  --newCommunityTheme-buttonTinted50: #7fbce9;
  --newCommunityTheme-buttonTinted80: #3293db;
  --newCommunityTheme-canvas: #dae0e6;
  --newCommunityTheme-canvasImgPosition: cover;
  --newCommunityTheme-canvasImgUrl: initial;
  --newCommunityTheme-errorText: #ff0000;
  --newCommunityTheme-field: #f6f7f8;
  --newCommunityTheme-flair: #edeff1;
  --newCommunityTheme-highlight: #e5f1fa;
  --newCommunityTheme-inactive: #edeff1;
  --newCommunityTheme-lightText: #ffffff;
  --newCommunityTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
  --newCommunityTheme-line: #edeff1;
  --newCommunityTheme-linkText: #0079d3;
  --newCommunityTheme-linkTextAlpha80: rgba(0, 121, 211, 0.5);
  --newCommunityTheme-linkTextShaded80: #0060a8;
  --newCommunityTheme-linkTextTinted80: #3293db;
  --newCommunityTheme-linkTextWithBody: #3f9ade;
  --newCommunityTheme-menu: #ffffff;
  --newCommunityTheme-menuActiveText: #0079d3;
  --newCommunityTheme-menuInactiveText: #0079d3;
  --newCommunityTheme-metaText: #7c7c7c;
  --newCommunityTheme-monospaceColor: #ff006d;
  --newCommunityTheme-navBar-activeLink: #0079d3;
  --newCommunityTheme-navBar-activeSubmenuCaret: #0079d3;
  --newCommunityTheme-navBar-activeSubmenuLink: #0079d3;
  --newCommunityTheme-navBar-backgroundColor: #dbf0ff;
  --newCommunityTheme-navBar-backgroundImage: initial;
  --newCommunityTheme-navBar-hoverLink: #0079d3;
  --newCommunityTheme-navBar-inactiveLink: #0079d3;
  --newCommunityTheme-navBar-inactiveSubmenuCaret: #33a8ff;
  --newCommunityTheme-navBar-inactiveSubmenuLink: #33a8ff;
  --newCommunityTheme-navBar-submenuBackgroundColor: #dbf0ff;
  --newCommunityTheme-navIcon: #1a1a1b;
  --newCommunityTheme-navIconFaded10: rgba(26, 26, 27, 0.1);
  --newCommunityTheme-pageHeader: #0079d3;
  --newCommunityTheme-placeholder: #d6d6d6;
  --newCommunityTheme-placeholderImage: initial;
  --newCommunityTheme-placeholderImagePosition: cover;
  --newCommunityTheme-post: #ffffff;
  --newCommunityTheme-postFlairText: #1a1a1b;
  --newCommunityTheme-postIcon: #898989;
  --newCommunityTheme-postLine: #ccc;
  --newCommunityTheme-postTinted20: #fff;
  --newCommunityTheme-postTransparent20: rgba(255, 255, 255, 0.8);
  --newCommunityTheme-primaryShadedEighty: #0060a8;
  --newCommunityTheme-primaryTintedEighty: #3293db;
  --newCommunityTheme-primaryTintedFifty: #7fbce9;
  --newCommunityTheme-report: #fff7e5;
  --newCommunityTheme-titleText: #222222;
  --newCommunityTheme-voteIcons-downvoteActive: initial;
  --newCommunityTheme-voteIcons-downvoteInactive: initial;
  --newCommunityTheme-voteIcons-upvoteActive: initial;
  --newCommunityTheme-voteIcons-upvoteInactive: initial;
  --newCommunityTheme-voteText-base: #898989;
  --newCommunityTheme-voteText-downvote: #7193ff;
  --newCommunityTheme-voteText-downvoteShaded80: #5a75cc;
  --newCommunityTheme-voteText-downvoteTinted80: #8da8ff;
  --newCommunityTheme-voteText-upvote: #ff4500;
  --newCommunityTheme-voteText-upvoteShaded80: #cc3700;
  --newCommunityTheme-voteText-upvoteTinted80: #ff6a32;
  --newCommunityTheme-widgetColors-lineColor: rgba(26, 26, 27, 0.07);
  --newCommunityTheme-widgetColors-sidebarWidgetBackgroundColor: #ffffff;
  --newCommunityTheme-widgetColors-sidebarWidgetHeaderColor: #ffffff;
  --newCommunityTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(255, 255, 255, 0.6);
  --newCommunityTheme-widgetColors-sidebarWidgetTextColor: #1a1a1b;
  --newCommunityTheme-widgetColors-sidebarWidgetTextColorShaded80: #141415;
  --newCommunityTheme-widgetColors-sidebarWidgetTitleColor: #1a1a1b;
  --newRedditTheme-actionIcon: #878a8c;
  --newRedditTheme-actionIconAlpha50: rgba(135, 138, 140, 0.5);
  --newRedditTheme-actionIconShaded80: #6c6e70;
  --newRedditTheme-active: #24a0ed;
  --newRedditTheme-activeAlpha10: rgba(36, 160, 237, 0.1);
  --newRedditTheme-activeAlpha50: rgba(36, 160, 237, 0.5);
  --newRedditTheme-activeLight60: #42adf0;
  --newRedditTheme-activeTinted05: #f4fafe;
  --newRedditTheme-banner-backgroundColor: #24a0ed;
  --newRedditTheme-banner-backgroundImage: initial;
  --newRedditTheme-banner-backgroundImagePosition: cover;
  --newRedditTheme-banner-communityNameFormat: slashtag;
  --newRedditTheme-banner-height: 64;
  --newRedditTheme-banner-iconColor: #24a0ed;
  --newRedditTheme-banner-iconDimensions-borderRadius: 24;
  --newRedditTheme-banner-iconDimensions-customSize: 32;
  --newRedditTheme-banner-iconDimensions-padding: 6;
  --newRedditTheme-banner-iconDimensions-size: 24;
  --newRedditTheme-banner-iconImage: initial;
  --newRedditTheme-banner-lineHeight: 38;
  --newRedditTheme-banner-positionedImage: initial;
  --newRedditTheme-banner-positionedImageAlignment: cover;
  --newRedditTheme-banner-positionedImageHeight: 48;
  --newRedditTheme-banner-secondaryBannerPositionedImage: initial;
  --newRedditTheme-body: #ffffff;
  --newRedditTheme-bodyAlpha50: rgba(255, 255, 255, 0.5);
  --newRedditTheme-bodyAlpha80: rgba(255, 255, 255, 0.8);
  --newRedditTheme-bodyShaded80: #ccc;
  --newRedditTheme-bodyText: #1c1c1c;
  --newRedditTheme-bodyTextAlpha03: rgba(28, 28, 28, 0.03);
  --newRedditTheme-bodyTextAlpha20: rgba(28, 28, 28, 0.2);
  --newRedditTheme-bodyTextShaded20: #050505;
  --newRedditTheme-bodyTextTinted20: #d1d1d1;
  --newRedditTheme-bodyTinted50: #fff;
  --newRedditTheme-bodyTinted80: #fff;
  --newRedditTheme-button: #0079d3;
  --newRedditTheme-buttonAlpha05: rgba(0, 121, 211, 0.05);
  --newRedditTheme-buttonAlpha10: rgba(0, 121, 211, 0.1);
  --newRedditTheme-buttonAlpha20: rgba(0, 121, 211, 0.2);
  --newRedditTheme-buttonAlpha40: rgba(0, 121, 211, 0.4);
  --newRedditTheme-buttonAlpha50: rgba(0, 121, 211, 0.5);
  --newRedditTheme-buttonAlpha80: rgba(0, 121, 211, 0.8);
  --newRedditTheme-buttonShaded80: #0060a8;
  --newRedditTheme-buttonTinted20: #cce4f6;
  --newRedditTheme-buttonTinted50: #7fbce9;
  --newRedditTheme-buttonTinted80: #3293db;
  --newRedditTheme-canvas: #dae0e6;
  --newRedditTheme-errorText: #ff0000;
  --newRedditTheme-field: #f6f7f8;
  --newRedditTheme-flair: #edeff1;
  --newRedditTheme-highlight: #e9f5fd;
  --newRedditTheme-inactive: #edeff1;
  --newRedditTheme-lightText: #ffffff;
  --newRedditTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
  --newRedditTheme-line: #edeff1;
  --newRedditTheme-linkText: #0079d3;
  --newRedditTheme-linkTextAlpha80: rgba(0, 121, 211, 0.5);
  --newRedditTheme-linkTextShaded80: #0060a8;
  --newRedditTheme-linkTextTinted80: #3293db;
  --newRedditTheme-linkTextWithBody: #3f9ade;
  --newRedditTheme-menu: #ffffff;
  --newRedditTheme-menuActiveText: #0079d3;
  --newRedditTheme-menuInactiveText: #0079d3;
  --newRedditTheme-metaText: #7c7c7c;
  --newRedditTheme-metaTextAlpha50: rgba(120, 124, 126, 0.5);
  --newRedditTheme-metaTextShaded80: #606364;
  --newRedditTheme-monospaceColor: #ff006d;
  --newRedditTheme-navBar-activeLink: #e9f5fd;
  --newRedditTheme-navBar-activeSubmenuCaret: #24a0ed;
  --newRedditTheme-navBar-activeSubmenuLink: #24a0ed;
  --newRedditTheme-navBar-backgroundColor: #24a0ed;
  --newRedditTheme-navBar-backgroundImage: initial;
  --newRedditTheme-navBar-hoverLink: #e9f5fd;
  --newRedditTheme-navBar-inactiveLink: #edeff1;
  --newRedditTheme-navBar-inactiveSubmenuCaret: #42adf0;
  --newRedditTheme-navBar-inactiveSubmenuLink: #42adf0;
  --newRedditTheme-navBar-submenuBackgroundColor: #def1fc;
  --newRedditTheme-navIcon: #1a1a1b;
  --newRedditTheme-navIconFaded10: rgba(26, 26, 27, 0.1);
  --newRedditTheme-pageHeader: #0079d3;
  --newRedditTheme-placeholder: #d6d6d6;
  --newRedditTheme-post: #ffffff;
  --newRedditTheme-postFlairText: #1a1a1b;
  --newRedditTheme-postIcon: #898989;
  --newRedditTheme-postLine: #ccc;
  --newRedditTheme-postTinted20: #fff;
  --newRedditTheme-postTransparent20: rgba(255, 255, 255, 0.8);
  --newRedditTheme-report: #fff7e5;
  --newRedditTheme-titleText: #1a1a1b;
  --newRedditTheme-voteIcons-downvoteActive: initial;
  --newRedditTheme-voteIcons-downvoteInactive: initial;
  --newRedditTheme-voteIcons-upvoteActive: initial;
  --newRedditTheme-voteIcons-upvoteInactive: initial;
  --newRedditTheme-voteText-base: #898989;
  --newRedditTheme-voteText-downvote: #7193ff;
  --newRedditTheme-voteText-downvoteShaded80: #5a75cc;
  --newRedditTheme-voteText-downvoteTinted80: #8da8ff;
  --newRedditTheme-voteText-upvote: #ff4500;
  --newRedditTheme-voteText-upvoteShaded80: #cc3700;
  --newRedditTheme-voteText-upvoteTinted80: #ff6a32;
  --newRedditTheme-widgetColors-lineColor: rgba(26, 26, 27, 0.07);
  --newRedditTheme-widgetColors-sidebarWidgetBackgroundColor: #ffffff;
  --newRedditTheme-widgetColors-sidebarWidgetHeaderColor: #ffffff;
  --newRedditTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(255, 255, 255, 0.6);
  --newRedditTheme-widgetColors-sidebarWidgetTextColor: #1a1a1b;
  --newRedditTheme-widgetColors-sidebarWidgetTextColorShaded80: #141415;
  --newRedditTheme-widgetColors-sidebarWidgetTitleColor: #1a1a1b;
  --subredditContext-isCommentsPage: initial;
  --subredditContext-isOverlay: initial;
}
