// -------- reddit -----------
@import './reddit-icon.css';
@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSansRegular.woff2');
  font-weight: normal;
}
@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSansMedium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSansBold.woff2');
  font-weight: bold;
}
@import './subreddit-light.css';
@import './subreddit-dark.css';
@import './subreddit-light-DotA2.css';
@import './subreddit-dark-DotA2.css';

// -------- Colors -----------
@primary-color: #888a8c;

// Base background color for most components
@component-background: var(--newCommunityTheme-body);
@text-color: var(--newCommunityTheme-bodyText);
@text-selection-bg: #bad5fb;
@text-color-inverse: var(--newCommunityTheme-bodyText);
@font-family: IBMPlexSans, Arial, sans-serif;
@font-size-base: 12px;
@line-height-base: 1;
@border-radius-base: 2px;

// Buttons
@btn-font-weight: 700;
@btn-padding-base: 4px;
@btn-height-base: 26px;

//Dropdown
@dropdown-vertical-padding: 0px;
